<!-- (c) https://github.com/MontiCore/monticore -->
<div *ngIf="hasData()">
    <label>
        Show Axis: <input [(ngModel)]="showAxis" type="checkbox" checked/>
    </label>
    <div *ngIf="false && showAxis">
        <label>
            <p>Minimum:</p>
            <input [(ngModel)]="selectedMin" type="range" [min]="min" [max]="realDataMin"/>
        </label>
        <label>
            <p>Maximum</p>
            <input [(ngModel)]="selectedMax" type="range" [min]="realDataMax" [max]="max"/>
        </label>
    </div>

    <div class="anti-resize-gauge-chart-container">
        <ngx-charts-gauge
                [scheme]="colorScheme"
                [results]="dataSet"
                [legend]="legend"
                [legendPosition]="legendPosition"
                [min]="selectedMin"
                [max]="selectedMax"
                [bigSegments]="bigTicks"
                [smallSegments]="smallTicks"
                [units]="unit"
                [showText]="showText"
                [textValue]="textValue"
                [showAxis]="showAxis">
        </ngx-charts-gauge>
    </div>
</div>
<div *ngIf="!hasData()">
    Keine Daten vorhanden
</div>
