<!--
  ~ /* (c) Monticore license: https://github.com/MontiCore/monticore */
  -->

<aside fxLayout="column" fxLayoutAlign="start" fxLayoutGap="25px">
  <div fxFlex="auto" fxLayoutAlign="center">
    <div class="logo-brand ">App - Logo</div>
  </div>
  <div fxFlex="100" fxFlexFill>
    <mat-list class="nav">
      <ng-template ngFor [ngForOf]="navigation" let-main>
        <div routerLinkActive="active active-parent" [ngClass]="{'force-active': !!main.expanded}">
            <mat-list-item *ngIf="(!main.enabled || main.enabled())" class="main-nav">
            <a *ngIf="main.link" [routerLink]="main.link" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
              <mat-icon fxFlex="auto">{{main.icon}}</mat-icon>
              <span fxFlex="100">{{main.label}}</span>
              <span class="sufix" [ngClass]="{ 'rectangle': !main.children, 'dot': !!main.children }"></span>
            </a>
            <a *ngIf="!main.link" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
              <mat-icon fxFlex="auto">{{main.icon}}</mat-icon>
              <span fxFlex="100">{{main.label}}</span>
              <mat-icon fxFlex="auto">build</mat-icon>
              <span class="sufix" [ngClass]="{ 'rectangle': !main.children, 'dot': !!main.children }"></span>
            </a>
          </mat-list-item>
            <mat-list class="sub-nav" *ngIf="(main.children && (!main.enabled || main.enabled()))">
                <ng-template ngFor [ngForOf]="main.children" let-sub>
                    <mat-list-item class="sub" *ngIf="(!sub.enabled || sub.enabled())" routerLinkActive="active">
                        <a [routerLink]="sub.link" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                            <!--<mat-icon fxFlex="auto">subdirectory_arrow_right</mat-icon>-->
                            <!--<mat-icon fxFlex="auto">{{sub.icon}}</mat-icon>-->
                            <span style="text-indent:20px;" fxFlex="100">{{sub.label}}</span>
                            <span class="sufix rectangle"></span>
                        </a>
                    </mat-list-item>
                </ng-template>
          </mat-list>
        </div>
      </ng-template>
    </mat-list>
  </div>

  <!--
  <div fxFlex="30" fxFlexFill>
    <mat-list class="nav">
      <a [routerLink]="http://134.61.116.13/w/" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <div routerLinkActive="active active-parent">
              <a fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
              <mat-icon fxFlex="auto">help</mat-icon>
              <span fxFlex="100">Handbuch</span>
            </a>
        </div>
      </a>
     </mat-list>
  </div>
  -->

  <div  fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="15px">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" fxFlexOffset="15" style="color: white">
      <div> </div>
      <i class="material-icons md-34">help_outline</i>
      <a id="hilfe" target="_blank" href="https://se-rwth.de" style="color: white; font-size:14px; text-transform: uppercase;">Hilfe</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" fxFlexOffset="15" style="color: white">
      <div> </div>
      <i class="material-icons md-24">exit_to_app</i>
      <a id="abmelden" href="javascript:void(0);" (click)="logout()" style="color: white; font-size:14px; text-transform: uppercase;">Abmelden</a>
    </div>

  </div>
  <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" fxFlexOffset="15" >
    <div style="color: white"> {{versionInfo()}}</div>
    <br>
  </div>
</aside>
