/* (c) https://github.com/MontiCore/monticore */

@import "../../../../scss/variables";

aside {
  background-color: $rwth-blue;
  height: 100%;
  padding-top: 40px;
}

img {
  width: 81px;
}

h6 {
  color: $rwth-blue-2;
  font-size: $font-size-text;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.logo-brand {
  display: block;
  height: 87px;
  width: 87px;
  background: url(../../../../assets/img/montigem_outline.png) center no-repeat,linear-gradient(transparent,transparent);
  background-size:cover;
  text-indent: -9999px;
  -webkit-filter: drop-shadow(0 6px 5px rgba(0, 0, 0, 0.55));
  filter: drop-shadow(0 6px 5px rgba(0, 0, 0, 0.55));
}

.nav-label {
  box-sizing: border-box;
  direction: ltr;
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  line-height: 20px;
  margin: 0 0 10px;
  margin-bottom: 10px !important;
}

.main-nav{
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

.main-nav:hover{
  background-color: $rwth-blue-1;
}

md-list-item, md-list-item .md-list-item-inner {
  min-height: 20px;
  height: 25px;
}

.nav {
  hight : 30px;
  .sufix {
    position: absolute;
    right: 0;
  }



  .sub-nav {
    padding-top: 0;
    display: none;

    .mat-list-item {
      min-height: 36px;
      height: 36px;
    }

    .active {
      background-color: rgba(0, 0, 0, 0.2);

      .rectangle {
        @include rectangle-left();
      }

    }

  }

  .sub{
    transition: 0.3s;
  }

  .sub:hover{
    background-color: $rwth-blue-1;

  }

  .active {
    background-color: rgba(0, 0, 0, 0.1);

    .dot:before {
      content: ' ';
      margin-right: 10px;
      height: 6px;
      width: 6px;
      background-color: white;
      display: block;
      border-radius: 3px;
      box-shadow: 0 0 8px 0 rgba(255, 255, 255, .95);
    }

    .main-nav {

      .rectangle {
        @include rectangle-left();
      }

    }

  }

  .active-parent {

    .sub-nav {
      display: initial;
    }

  }

  .force-active {

    .sub-nav {
      display: initial;
    }

  }

  .mat-list-item {
    border-top: 1px solid rgba(0, 0, 0, .35);
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, .3);
  }



  .mat-list-item.last {
    border-bottom: 1px solid rgba(0, 0, 0, .35);
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, .3);
  }

  .mat-icon{
    font-size: 16px;
    padding-top: 0px;
    margin-right: 5px !important;
  }

  a {
    color: $montigem-white;
    text-decoration: none;
    width: 100%;
  }

}


@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: .6;
  }
  30% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
