<div fxLayout="column" class="data-table" [ngClass]="{'bordered': bordered}">

  <div fxFlex="grow" fxLayout="row" *ngIf="isFilterable || isExportable || hasCreateNew" class="table-header">
    <div fxFlex="grow">
      <div *ngIf="isFilterable" class="filter" fxLayout="row" fxLayoutAlign="start center">
        <i fxFlex="40px" class="fa fa-search" aria-hidden="true"></i>
        <mat-form-field fxFlex="200px" floatPlaceholder="never">
          <input matInput #filter (keyup)="updateFilter()" [placeholder]="placeholderFilterInput">
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="grow" fxLayout="row wrap" fxLayoutAlign="end" class="button-wrapper">
      <button fxFlex="0 1 150px"  *ngIf="isExportable" class="btn btn-outline-primary control-button" (click)="csvExport()">
        <i class="fa fa-download" aria-hidden="true"></i>
        Daten exportieren
      </button>
      <button
        fxFlex="0 1 150px"
        *ngIf="selectionType !== 'falsey' && selected !== undefined && selected.length > 0"
        id="addKontoOverview"
        class="btn btn-outline-primary control-button"
        (click)="onShowSelected()">
        Ausgewählte zeigen
      </button>
      <button
        fxFlex="0 1 100px"
        *ngIf="selectionType !== 'falsey' && selected !== undefined && selected.length > 0"
        id="addKontoOverview"
        class="btn btn-outline-primary control-button"
        (click)="onDeselectAll()">
        Abwählen
      </button>
      <button fxFlex="0 1 150px" *ngIf="hasCreateNew" id="addKontoOverview" class="btn btn-outline-primary control-button" (click)="onCreate()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Konto hinzufügen
      </button>

      <button
        fxFlex="0 1 200px"
        *ngIf="hasShowInactiveBtn && presentInactiveRow()"
        id="showInactiveItems"
        class="btn btn-outline-primary control-button"
        (click)="showInactive = !showInactive">
        <i class="fa" [ngClass]="{'fa-plus': !showInactive, 'fa-minus': showInactive}" ari-hidden="true"></i>
        Deaktivierte {{showInactive? 'ausblenden ': 'anzeigen ' }}
      </button>

      <button class="btn btn-outline-primary control-button" [matMenuTriggerFor]="menu" fxFlex="0 0 150px" *ngIf="canHideColumns">
        <i class="fa fa-list" aria-hidden="true"></i>
        Spalten
      </button>
      <mat-menu #menu="matMenu">
        <div (click)="$event.stopPropagation()" >
          <ul class="hideColumns">
            <ng-container  *ngFor='let col of columns'>
              <li *ngIf="col.name != ''" >
                <input type='checkbox'
                       [id]="col.name"
                       (click)='toggleColumn(col)'
                       [checked]='isCheckedColumn(col)'>
                <label [attr.for]="col.name" [innerHTML]="col.name"></label>
              </li>
            </ng-container>
          </ul>
        </div>
      </mat-menu>

      <button
        class="btn btn-outline-primary control-button"
        [matMenuTriggerFor]="groupingMenu"
        fxFlex="0 1 150px" *ngIf="isGroupable">
        <i class="fa fa-list" aria-hidden="true"></i>
        Gruppiere nach
      </button>
      <mat-menu #groupingMenu="matMenu">
        <div (click)="$event.stopPropagation()">
          <ul class="hideColumns">
            <li>
              <input type="radio"
                     name="groupingMenu"
                     [id]="noGroupingId"
                     (click)="toggleGrouping('Keine Gruppierung')"
                     checked/>
              <label>Keine Gruppierung</label>
            </li>
            <ng-container *ngFor='let col of columns'>
              <li *ngIf="col.name != '' && !col.excludeFromGrouping" >
                <input type="radio"
                       name="groupingMenu"
                       [id]="col.name"
                       (click)="toggleGrouping(col.prop)"
                       [checked]="!!groupedCol && groupedCol.prop.toString() === col.prop.toString() ? 'checked' : false"/>
                <label [attr.for]="col.name">{{getColumnName(col)}}</label>
              </li>
            </ng-container>
          </ul>
        </div>
      </mat-menu>

    </div>
  </div>

  <!--
    Wrapping into ng-template with `for` directive to be able to recreate
    table on demand, see recreateHelper and recreateTable function in ts file
  -->
  <ng-template ngFor [ngForOf]="recreateHelper">
    <ngx-datatable
            #table
            fxFlex="grow"
            class="material"
            [columnMode]="columnMode"
            [columns]="displayColumns"
            [count]="count"
            [cssClasses]="cssClasses"
            [displayCheck]="displayCheck"
            [externalPaging]="externalPaging"
            [externalSorting]="externalSorting"
            [footerHeight]="footerHeight"
            [headerHeight]="headerHeight"
            [messages]="messages"
            [limit]="isGroupable ? undefined : limit"
            [loadingIndicator]="loadingIndicator"
            [offset]="offset"
            [reorderable]="reorderable"
            [rowHeight]="rowHeight"
            [scrollbarH]="scrollbarH"
            [scrollbarV]="_scrollbarV"
            [selected]="selected"
            [selectionType]="selectionType"
            [sorts]="sorts"
            [sortType]="sortType"
            [trackByProp]="trackByProp"
            [rowClass]="rowClass"
            [rows]="rows"
            [groupedRows]="groupedRows"
            [groupExpansionDefault]="groupsExpanded === undefined ? undefined : true"
            (scroll)="onScroll($event)"
            (select)="onSelect($event)"
            (page)="onPaginated($event)"
            (sort)="onSort($event)"
            (resize)="onColumnResize($event)">


        <ng-template [ngIf]="detailsTemplate">
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail [rowHeight]="detailsRowHeight" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <ng-container *ngTemplateOutlet="detailsTemplate; context: {row: row}"></ng-container>
            </ng-template>
          </ngx-datatable-row-detail>
        </ng-template>

        <ng-template [ngIf]="isGroupable">
          <ngx-datatable-group-header [rowHeight]="100" #myGroupHeader (toggle)="onDetailToggle($event)">
            <ng-template let-group="group" let-expanded="expanded" let-column="column" ngx-datatable-group-header-template>
              <ng-template [ngIf]="!!groupRowsBy" >
                <div class="groupHeader"
                    *ngIf="!group.value[0].emptyRow && group.key">
                  <ng-container *ngFor='let col of displayColumns'>
                      <a [ngStyle]="getGroupHeaderStyle(col)"
                         class="groupHeaderContent"
                         title="Expand/Collapse Group"
                         (click)="toggleExpandGroup(group)">
                      <b [class.datatable-icon-right]="!expanded && groupedCol.prop === col.prop"
                         [class.datatable-icon-down]="expanded && groupedCol.prop === col.prop"
                         [innerHTML]="groupedCol.prop === col.prop ? (transformGroupValue(group.value[0]) | safeHTML) : ''">
                      </b>
                      <span [innerHTML]="col.summarize !== undefined ? (summarizeGroup(group.value, col) | safeHTML) : ''">
                      </span>
                    </a>
                  </ng-container>
                </div>
              </ng-template>
            </ng-template>
          </ngx-datatable-group-header>
        </ng-template>

      <ngx-datatable-footer>
        <ng-template
                ngx-datatable-footer-template
                let-rowCount="rowCount"
                let-pageSize="pageSize"
                let-selectedCount="selectedCount"
                let-curPage="curPage"
                let-offset="offset"
                let-isVisible="isVisible">
          <div fxLayout="row" style="align-items: center; height: 35px">
            <div class="page-count" style="display: flex; align-items: center">
                        <span *ngIf="selectedMessage">
                          {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                        </span>
              {{inlineNew ? (rows.length - 1).toLocaleString() : rows.length.toLocaleString()}} {{messages.totalMessage}}



            </div>

            <div class="page-count-input" *ngIf="!isGroupable && limit">
                  <input [textMask]="{mask: mask}" type="text" [value]="limit" (blur)="onPageSizeChange($event.target.value)"
                        (keypress)="onKeyPressPageSize($event)" (select)="$event.stopPropagation()">
                  <span>Einträge pro Seite</span>
            </div>
          </div>

          <div *ngIf="selectionSum !== undefined" class="page-count page-footer-selection-sum">
            <span>
              {{ selectionSum(selected) }}
            </span>
          </div>

          <datatable-pager
                  [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'"
                  [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'"
                  [page]="curPage"
                  [size]="pageSize"
                  [count]="rowCount"
                  [hidden]="!((rowCount / pageSize) > 1)"
                  (change)="table.onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </ng-template>

</div>

<ng-template let-row="row" let-expanded="expanded" #detailColumn>
  <button mat-icon-button
          (click)="toggleExpandRow(row)">
    <mat-icon class="md-24">keyboard_arrow_down</mat-icon>
  </button>
</ng-template>

<ng-template let-row="row" let-column="column" let-value="value" #cellTemplate>
  <div [ngClass]="{'edit': row.id === currentEditId}">
    <ng-template [ngIf]="row.id !== currentEditId && !row.emptyRow && !column.editInView">

      <div class="cellOverlay"
           [attr.title]="column.tooltip !== undefined ? column.tooltip(value) : null"
           [ngStyle]="getCellStyle(column, row, value)"
           [contextMenu]="rightClickMenu"
           [contextMenuSubject]="{prop: column.prop, model: row, columns: columns}"
           (click)="cellOverlayAction($event, row, column)">
      </div>
      <div class="cellValue"
           *ngIf="groupRowsBy != column.prop"
           [innerHTML]="getCellValue(column, row, value) | safeHTML">
      </div>
      <div class="cellBacklayer"
           [ngStyle]="getCellStyle(column, row, value, 'true')">
      </div>
    </ng-template>

    <ng-template [ngIf]="row.id === currentEditId">
      <ng-template [ngIf]="editTemplates[column.prop] && !column.uneditable || column.editInView" [ngIfElse]="valueTemplate">
        <div #editInstances style="min-height: 54px">
          <ng-container *ngTemplateOutlet="editTemplates[column.prop]"></ng-container>
        </div>
      </ng-template>
      <ng-template #valueTemplate>
        <div class="cellValue"
             *ngIf="isExcludedFromGroup(row[groupRowsBy]) || groupRowsBy != column.prop"
             [innerHTML]="getCellValue(column, row, value) | safeHTML"></div>
      </ng-template>
    </ng-template>

    <ng-template [ngIf]="(row.emptyRow && currentEditId === null && !column.uneditable) || column.editInView" [ngIfElse]="valueTemplate">
      <div style="min-height: 54px">
        <ng-container *ngTemplateOutlet="editTemplates[column.prop]"></ng-container>
      </div>
    </ng-template>
  </div>
</ng-template>

<ng-template let-column="column" let-value="value" #headerTemplate let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
  <div class="app-datatable-header-container datatable-header-cell-wrapper">
    <div (click)="sort()">
      <span class="datatable-header-cell-label draggable" [innerHtml]="column.name">
      </span>
    </div>
    <!-- TODO: remove `if` when group sorting is added -->
    <div *ngIf="!isGroupable" class="app-datatable-header-sort-btn">
      <span class="sort-btn"
            [class.sort-asc]="sortDir === 'asc'"
            [class.datatable-icon-up]="sortDir === 'asc'"
            [class.sort-desc]="sortDir === 'desc'"
            [class.datatable-icon-down]="sortDir === 'desc'">
      </span>
    </div>
  </div>
</ng-template>

<ng-template let-row="row" let-column="column" let-value="value" #actionColumn>
    <div [ngClass]="'cellOverlay'"
         [ngStyle]="selectionType === 'checkbox' && {'width':
            column.prop !== displayColumns[displayColumns.length-1].prop
            ? column.width + 'px'
            : 'calc(' + column.width + 'px' + ' - 1.2rem)' } ||
            selectionType !== 'checkbox' && {'width'
            : 'calc(' + displayColumns[0].width + 'px' + ' + 1.2rem)', 'left': 0}"
         oncontextmenu="return false;"
         ondblclick="event.stopPropagation();"
         onclick="event.stopPropagation();">
    </div>

    <!-- Current Row is not beeing Edited -->
    <ng-template [ngIf]="currentEditId !== row.id && !row.emptyRow" >
      <div [ngClass]="{'non-visible': currentEditId !== null }">
      <button *ngIf="isViewable" class="view" (click)="viewEvent.emit(row)"
        oncontextmenu="return false;"
        onclick="event.stopPropagation();"
        ondblclick="event.stopPropagation();"
        type="button"
        mat-icon-button>
        <mat-icon class="md-24">remove_red_eye</mat-icon>
      </button>
      <button *ngIf="isDeletable && !rowHasClass(row, 'empty-budget')" class="delete" (click)="onDelete($event, row)"
        oncontextmenu="return false;"
        onclick="event.stopPropagation();"
        ondblclick="event.stopPropagation();"
        type="button"
        mat-icon-button>
        <mat-icon class="md-24">delete</mat-icon>
      </button>
      <button *ngIf="isEditable && !rowHasClass(row, 'empty-budget')" class="edit" (click)="onEdit($event, row)"
        oncontextmenu="return false;"
        onclick="event.stopPropagation();"
        ondblclick="event.stopPropagation();"
        type="button"
        mat-icon-button>
        <mat-icon class="md-24">edit</mat-icon>
        </button>
      <button *ngIf="rowHasClass(row, 'empty-budget')" (click)="onEdit($event, row)"
        oncontextmenu="return false;"
        onclick="event.stopPropagation();"
        ondblclick="event.stopPropagation();"
        type="button"
        mat-icon-button>
        <mat-icon class="md-24">add_circle_outline</mat-icon>
      </button>
      <button *ngIf="isDeActivateable" (click)="onDeActivate(row)"
        oncontextmenu="return false;"
        onclick="event.stopPropagation();"
        ondblclick="event.stopPropagation();"
        type="button"
        mat-icon-button>
        <mat-icon *ngIf="!isDeActivatedProperties(row.id)" title="Aktivieren" class="md-24">check_circle</mat-icon>
        <mat-icon *ngIf="isDeActivatedProperties(row.id)" title="Deaktivieren" class="md-24">highlight_off</mat-icon>
      </button>
        <ng-template [ngIf]="actionTemplate">
            <ng-container *ngTemplateOutlet="actionTemplate"></ng-container>
        </ng-template>
      </div>
    </ng-template>

    <!-- Current Row is beeing Edited -->
    <ng-template [ngIf]="row.id === currentEditId">
      <button (click)="onEditSave(row)"
              oncontextmenu="return false;"
              onclick="event.stopPropagation();"
              ondblclick="event.stopPropagation();"
              type="button"
              mat-icon-button>
        <mat-icon class="md-24">save</mat-icon>
      </button>
      <button (click)="onEditCancel(row)"
              oncontextmenu="return false;"
              onclick="event.stopPropagation();"
              ondblclick="event.stopPropagation();"
              type="button"
              mat-icon-button>
        <mat-icon class="md-24">clear</mat-icon>
      </button>
    </ng-template>

    <!-- Initial empty first row to add new elements -->
    <ng-template [ngIf]="row.emptyRow">
      <button (click)="onCreate(row)" [ngClass]="{'non-visible': currentEditId !== null}" oncontextmenu="return false;" type="button" mat-icon-button>
        <mat-icon class="md-24">save</mat-icon>
      </button>
      <button (click)="onCreateCancel(row)" [ngClass]="{'non-visible': currentEditId !== null}" oncontextmenu="return false;" type="button" mat-icon-button>
        <mat-icon class="md-24">clear</mat-icon>
      </button>
    </ng-template>
</ng-template>

<ng-template #checkboxColumn>
  <div oncontextmenu="return false;">
  </div>
</ng-template>
