<!-- use this if you want the user to select a time range for the density chart-->
<!--
<label>Start date:</label>

<input type="date" id="startDate" name="density-start">

<label>End date:</label>

<input type="date" id="endDate" name="density-end">-->
<!--  <select type="datatypeSelector" [(ngModel)]="selectedLevel" (ngModelChange)="onSelectionChange()">
      <option *ngFor="let level of levels" [ngValue]="level">{{level.name}}</option>
</select> -->

<br>
<label #no_data_label id="no_data_label"></label>

<div #my_dataviz id="my_dataviz"></div>
