<!-- (c) https://github.com/MontiCore/monticore -->

<div fxLayout="column" style="margin:auto;">

    <!--region Range Slider -->
    <div fxLayout="row" style="justify-content: flex-end;">
        <div fxFlex="0 0 auto"
             style="margin-left:10px; margin-top: 10px" >
            <div class="range-control range" *ngIf="allXAxisDataInRange" fxLayout fxLayoutGap="10px">
                <span>{{allXAxisDataInRange[0].label}}</span>
                <ng5-slider (userChangeEnd)="onSliderChanged()" [(value)]="sliderValueMin" [(highValue)]="sliderValueMax" [options]="sliderOptions" style="width: 300px"></ng5-slider>
                <span>{{allXAxisDataInRange[allXAxisDataInRange.length - 1].label}}</span>
            </div>
        </div>
    </div>
    <!--endregion-->

    <!--region Bar Chart -->
    <div fxFlex="1 1 100%" fxLayout="row" >
        <div style="position: relative;height:270px;width:100%;">
            <canvas *ngIf="hasData()"
                    #baseChart baseChart
                    [labels]='xAxisLabels'
                    [datasets]="dataset"
                    [chartType]="'bar'"
                    [colors]="colorSet"
                    [options]="options">
            </canvas>

            <div *ngIf="!hasData()">
                Keine Daten vorhanden
            </div>
        </div>
    </div>
    <!--endregion-->

    <!--region Legend -->
    <div *ngIf="_customLegend" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div *ngFor="let legend of _customLegend">
            <div class="legendBox" [style.background-color]="legend.color"></div>
            {{legend.label}}
        </div>
    </div>
    <!--endregion-->

</div>


