/* (c) https://github.com/MontiCore/monticore */

@import "../../../../scss/variables";

.main-layout {
  height:100vh;
}

header {
  /* position:fixed */
  flex:0 0 120px;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
}

//.macoco-navbar{
//  width: $navbar-width;
//}

main {

  padding: 0 0 0 0;
}

.activity-bar {
  padding: $activity-bar-padding;
}

