<!-- (c) https://github.com/MontiCore/monticore -->
<form style="position:relative;left:0px;top:0px;">
	<label for="num_seperations">Gebe hier die gewünschte Anzahl an Spalten (1-32) an:  </label>
	<input #box [value]="6" (keyup.enter)="enter_num_seperations(box.value)" id="num_seperations" type="number" min="1" max="32">
	<p>Should the timestamps be pretty-printed?</p>
	<input #checkbox1 [defaultChecked]="1" (change)="enter_pretty_date(checkbox1.checked)" id="pretty_date" type="checkbox">
	<p>Ignore date of timestamps (only sort by daytime)?</p>
	<input #checkbox2 [defaultChecked]="0" (change)="enter_loop_days(checkbox2.checked)" id="loop_days" type="checkbox">
</form>

<div>
	<ngx-charts-heat-map [scheme]="colorScheme" [results]="computed_data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="XLabel" [yAxisLabel]="YLabel">
	</ngx-charts-heat-map>
</div>