/* (c) https://github.com/MontiCore/monticore */
@import "../../../../scss/variables";

.breadcrumb-container {
  color: $rwth-blue;
  font-size:$font-size-h5;
  font-weight: bold;
  white-space: nowrap;

  a, span, i {
    margin: 0;
    padding: 0 2px 2px 5px;
  }

  a:first-child {
    padding-left: 0;
  }

  span {
    cursor: help;
  }

  .noPadding {
    padding-left: 0;
  }
}


