<div fxLayout="row" fxLayoutAlign="space-between stretch" class="header" fxLayoutGap="25px">
  <!--region Links-->
  <div fxLayout="column" fxLayoutAlign="center start">
    <div fxLayout="row" class="title-container">
      <span fxLayoutAlign="start end" class="title">{{title | titleTranslation}}</span>
    </div>
    <macoco-breadcrumb #breadcrumb></macoco-breadcrumb>
  </div>
  <!--endregion-->

  <!--region Rechts-->
  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="17px">
    <!--region No action elements-->
    <!-- Token -->
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px" *ngIf="user" matTooltip="{{exp}}" style="cursor: help" class="notPrinted">
      <i class="fa fa-shield header-icon"></i>
      <span>Token</span>
    </div>

    <!-- Date -->
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px" *ngIf="user" matTooltip="Heutiges Datum" style="cursor: help">
      <i class="fa fa-calendar header-icon"></i>
      <span>{{curDate | toDateString}}</span>
    </div>
    <!--endregion-->

    <!-- separator -->
    <div fxLayout="column" fxLayoutAlign="center center" class="notPrinted">
      <div class="action-separator"></div>
    </div>

    <!--region Action buttons-->
    <!-- Instance -->
    <button
            *ngIf="user"
            class="header-button"
            matTooltip="Abmelden"
            (click)="logout()"
    >
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
        <i class="fa fa-database header-icon"></i>
        <span>{{instanceName}}</span>
      </div>
    </button>

    <!-- User -->
    <button
            *ngIf="user"
            class="header-button"
            routerLink="/einstellungen/profil"
            matTooltip="Mein Benutzerprofil öffnen"
    >
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
        <i class="fa fa-user-circle-o header-icon"></i>
        <span>{{user.userId}}</span>
      </div>
    </button>
    <!--endregion-->
  </div>
  <!--endregion-->
</div>
