<!-- (c) https://github.com/MontiCore/monticore -->
<!--
  ~ 
  -->

<div fxLayout="column"  class="header">
  <!-- Primary Header row -->
  <div fxLayout="row">
    <!-- Title -->
    <div fxFlex="grow" fxLayout="row" class="title-container">
      <span fxLayoutAlign="start end" class="title">{{title | titleTranslation}}</span>
    </div>

    <!-- User -->
    <a fxFlex="auto" *ngIf="user" class="user" fxLayoutAlign="end center" routerLink="/einstellungen/profil">
      <div class="instanceName"><i class="fa fa-user-circle-o"></i></div>
      &nbsp;
      <span> {{user.userId}} </span>
    </a>
    &nbsp;&nbsp;
    <!-- Instance name -->
    <a fxFlex="auto" *ngIf="instanceName" class="instanceName" fxLayoutAlign="start center" id="abmelden" href="javascript:void(0);" (click)="logout()">
        <i class="fa fa-database"></i>
        &nbsp;
        <span> {{instanceName}} </span>
    </a>
  </div>

  <!-- Secondary Header row -->
  <div fxFlex="auto" fxLayout="row">

    <macoco-breadcrumb fxFlex="grow" fxLayoutAlign="start center" #breadcrumb></macoco-breadcrumb>



    <!-- Token -->
    <div fxFlex="auto" *ngIf="exp" class="token" fxLayoutAlign="start center">
        <span>(Token: {{exp}})</span>
    </div>

    <!-- Date -->
    <div fxFlex="auto" class="user" fxLayoutAlign="start center">
      <span id="date">{{curDate | toDateString}}</span>
    </div>
  </div>
</div>
