/* (c) https://github.com/MontiCore/monticore */

@import "../../../../../scss/variables";

$notification-component-margin: 24px;
$notification-padding-horizontal: 20px;
$notification-button-width: 90px;


.notification-background {
  background-color: $gray-light1
}

.notification-title {
  margin-top: -$notification-component-margin;
  margin-left: -$notification-component-margin;
  margin-right: -$notification-component-margin;
  padding-left: $notification-component-margin;
  color: $montigem-white;
  background-color: $rwth-black-2;
  //border-radius: $top-round;
}

.notification-content {
  @extend .notification-background;

  color: $rwth-black;
  margin-top: -$notification-padding-horizontal;
  padding-top: $padding-large-vertical + $padding-small-vertical;
  white-space: pre-line;
}

.notification-action {
  @extend .notification-background;

  margin-left: -$notification-component-margin;
  margin-right: -$notification-component-margin;
  padding-left: $notification-component-margin;
  padding-right: $notification-component-margin;
  padding-top: $notification-padding-horizontal;
  //border-radius: $bottom-round;
}

.notification-errorCode-highlight {
  padding: $padding-small-vertical;
  border: $rwth-blue solid;
  border-radius: 15px;
}

.notification-errorCode-text {
  font-family: $font-family-monospace;
  font-weight: $font;
}

.notification-button {
  font-family: $font-family-sans-serif;
  font-weight: $btn-font-weight;
  border-radius: $btn-border-radius-large;
  border: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-left: $padding-small-horizontal;
  padding-right: $padding-small-horizontal;

  background-color: $montigem-white;
  color: $montigem-black;
  width: $notification-button-width;
}

.notification-padding-bottom {
  padding-bottom: $padding-large-vertical;
}

.notification-margin-right {
  margin-right: $padding-large-horizontal;
}

.notification-fill-space {
  flex: 1 1 auto;
}
