/*!
 *  (c) Monticore license: https://github.com/MontiCore/monticore
 */

@mixin center-content() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rectangle-base() {
  width: 0;
  height: 0;
  border-style: solid;
}

@mixin rectangle-left($height: 10px, $width: 14px, $color: #eeeeee) {
  @include rectangle-base();
  border-width: $height $width $height 0;
  border-color: transparent $color transparent transparent;
}

@mixin rectangle-right($height: 10px, $width: 14px, $color: #eeeeee) {
  @include rectangle-base();
  border-width: $height 0 $height $width;
  border-color: transparent transparent transparent $color;
}

@mixin no-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}