/* (c) https://github.com/MontiCore/monticore */

@import "./mixins";
/* source http://www9.rwth-aachen.de/global/show_document.asp?id=aaaaaaaaaadrbpl#page=27 */

/*
====================================================
.............::::::: Colors :::::::.............
====================================================
*/

$montigem-white: white;
$montigem-black: #222222;

/* ===== Primary colors ===== */
$rwth-blue: #00549F;
$rwth-blue-1: #407FB7;
$rwth-blue-2: #8EBAE5;
$rwth-blue-3: #C7DDF2;
$rwth-blue-4: #E8F1FA;

/* ===== Secondary colors ===== */

/* === Black === */
$rwth-black: #000000;
$rwth-black-1: #555555;
$rwth-black-2: #646567;
$rwth-black-3: #9C9E9F;
$rwth-black-4: #CFD1D2;
$rwth-black-5: #ECEDED;

/* === RED === */
$rwth-red: #cc071e;
$rwth-red-1: #d85c41;
$rwth-red-2: #e69679;
$rwth-red-3: #f3cdbb;
$rwth-red-4: #faebe3;

/* === Magenta === */
$rwth-magenta: #E30066;
$rwth-magenta-1: #E96088;
$rwth-magenta-2: #F19EB1;
$rwth-magenta-3: #F9D2DA;
$rwth-magenta-4: #FDEEF0;

/*$rwth-magenta: rgb(227, 0, 102);
$rwth-magenta-1: rgb(233, 96, 136);
$rwth-magenta-2: rgb(241, 158, 177);
$rwth-magenta-3: rgb(249, 210, 218);
$rwth-magenta-4: rgb(253, 238, 240);*/

/* === Yellow === */
$rwth-yellow: #FFED00;
$rwth-yellow-1: #FFF055;
$rwth-yellow-2: #FFF59B;
$rwth-yellow-3: #FFFAD1;
$rwth-yellow-4: #FFFDEE;

/*$rwth-yellow: rgb(255, 237, 0);
$rwth-yellow-1: rgb(255, 240, 85);
$rwth-yellow-2: rgb(255, 245, 155);
$rwth-yellow-3: rgb(255, 250, 209);
$rwth-yellow-4: rgb(255, 253, 238);*/

/* === Orange === */
$rwth-orange: #f6a800;
$rwth-orange-1: #fabe50;
$rwth-orange-2: #fdd48f;
$rwth-orange-3: #feeac9;
$rwth-orange-4: #fff7ea;

$dark-green: #11750e;
/* === Green === */
$rwth-green: #57ab27;
$rwth-green-1: #8dc060;
$rwth-green-2: #b8d698;
$rwth-green-3: #ddebce;
$rwth-green-4: #f2f7ec;

/* === MayGreen === */
$rwth-may-green: #bdcd00;
$rwth-may-green-1: #d0d95c;
$rwth-may-green-2: #e0e69a;
$rwth-may-green-3: #f0f3d0;
$rwth-may-green-4: #f9faed;

/* === Petrol === */
$rwth-petrol: #006165;
$rwth-petrol-1: #2D7F83;
$rwth-petrol-2: #7DA4A7;
$rwth-petrol-3: #BFD0D1;
$rwth-petrol-4: #E6ECEC;

/* === Turquoise === */
$rwth-turquoise: #0098A1;
$rwth-turquoise-1: #00B1B7;
$rwth-turquoise-2: #89CCCF;
$rwth-turquoise-3: #CAE7E7;
$rwth-turquoise-4: #EBF6F6;

/* === Bordeaux === */
$rwth-bordeaux: #A11035;
$rwth-bordeaux-1: #B65256;
$rwth-bordeaux-2: #CD8B87;
$rwth-bordeaux-3: #E5C5C0;
$rwth-bordeaux-4: #F5E8E5;

/* === Violet === */
$rwth-violet: #612158;
$rwth-violet-1: #834E75;
$rwth-violet-2: #A8859E;
$rwth-violet-3: #D2C0CD;
$rwth-violet-4: #EDE5EA;

/* === Lila === */
$rwth-lila: #7A6FAC;
$rwth-lila-1: #9B91C1;
$rwth-lila-2: #BCB5D7;
$rwth-lila-3: #DEDAEB;
$rwth-lila-4: #F2F0F7;


/*
====================================================
.............::::::: Typo :::::::.............
====================================================
*/

@function default-font($font-size, $line-height, $font-weight: normal) {
  @return $font-weight #{$font-size}/#{$line-height} Helvetica
}

$font: bold;

$font-h: $font;
$font-h1: default-font(1.625rem, 35px, bold);
$font-h2: default-font(1.5rem, 32px, bold);
$font-h3: default-font(1.25rem, 27px, bold);
$font-h4: default-font(1.125rem, 25px, bold);
$font-h5: default-font(1rem, 22px, bold);
$font-h6: default-font(0.875rem, 18px, bold);

$font-info: default-font(11px, 13px);
$font-text-1: default-font(12px, 15px);
$font-text-2: default-font(13px, 16px);
$font-text-3: default-font(14px, 17, 5px);

/*
====================================================
.............::::::: Buttons :::::::.............
====================================================
*/

@mixin default-button() {
  border-radius: 10px;
  border-color: $montigem-white;
  border-width: 3px;
  color: white;
  background-color: $rwth-blue;
}

/*
====================================================
.............::::::: Helper :::::::.............
====================================================
*/

$round-border: 10px;
$top-round: $round-border $round-border 0 0;
$bottom-round: 0 0 $round-border $round-border;
$bottom-right-round: 0 0 $round-border 0;

$breadcrumb-height: 40px;
$breadcrumb-rectangle-width: 20px;
$header-container-height:90px;
$header-height: 56px;

$main-top-self-padding: 25px;
$main-top-padding: $header-height + $breadcrumb-height + 25px;
$main-padding: 20px;
$content-padding: 24px;
$activity-bar-padding: 25px;

/*
====================================================
.............::::::: Bootstrap :::::::.............
====================================================
*/

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-light1: lighten($gray-base, 85.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$brand-primary: $rwth-blue;
$brand-secondary: $rwth-may-green;
$brand-success: $dark-green;
$brand-info: #5bc0de !default;
$brand-warning: $rwth-orange;
$brand-danger: $rwth-red;

//== Scaffolding
//
//## Settings for some of the most global styles.

